
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="js/modernizr.custom.29473.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#content").find("[id^='tab']").hide();
        $("#tabs li:first").attr("id","current");
        $("#content #tab1").fadeIn();
        $('#tabs a').click(function(e) {e.preventDefault();if ($(this).closest("li").attr("id") == "current"){return;}else{$("#content").find("[id^='tab']").hide();$("#tabs li").attr("id","");$(this).parent().attr("id","current");$('#' + $(this).attr('name')).fadeIn();}});
    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="dashboard">
                <ul id="tabs">
                    <li><a href="" name="tab1">Health Facilities</a></li>
                    <li><a href="" name="tab2">Population</a></li>
                    <li><a href="" name="tab3">Morbidity & Mortality</a></li>
                </ul>

                <div id="content">
                    <div id="tab1">
                        <div class="container">
                            <img style="-webkit-user-select: none" src="/dhis-web-reporting/getOrgUnitDistributionChart.action?groupSetId=272700&amp;_dc=9500182">
                        </div>
                    </div>
                    <div id="tab2">
                        <div class="container">
                            <h1>Placeholder 2</h1>
                        </div>
                    </div>
                    <div id="tab3">
                        <div class="container">
                            <h1>Placeholder 3</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="caption">
                <h3>EAC RMNCH scorecard</h3>

                <p>This is a scorecard reflecting national indicator with color indicating status of country indicator and the arrow indicates the improvement towards the status. For example country can be in red but steadily improving this is show with up arrow</p>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <h1>PLACE HOLDER</h1>
            <div class="caption">
                <h3>EAC Data Warehouse modle</h3>

                <p>Data from individual instance of DHIS2 is imported into EAC DHIS2 database. This process is carried out autmatically. Each Country will approve the data in EAC Database before it is publised in web portal.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <h1>PLACE HOLDER</h1>
            <div class="caption">
                <h3>HMN architecture - National data warehouse</h3>

                <p>This is example of HMN architecture on national data warehouse, where data from different source can be combined in a integrated data repository. This data then can be analyzed and presented to multiple stakeholder using different tools such as chart, maps, tables. </p>
            </div>
        </div>
    </div>
</div>
