
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="js/modernizr.custom.29473.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#content").find("[id^='tab']").hide();
        $("#tabs li:first").attr("id","current");
        $("#content #tab1").fadeIn();
        $('#tabs a').click(function(e) {e.preventDefault();if ($(this).closest("li").attr("id") == "current"){return;}else{$("#content").find("[id^='tab']").hide();$("#tabs li").attr("id","");$(this).parent().attr("id","current");$('#' + $(this).attr('name')).fadeIn();}});
    });
</script>
<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="dashboard">
                <ul id="tabs">
                    <li><a href="" name="tab1">Population</a></li>
                    <li><a href="" name="tab2">Health Facilities</a></li>
                    <li><a href="" name="tab3">Morbidity & Mortality</a></li>
                    <li><a href="" name="tab4">District Health Profiles</a></li>
                </ul>

                <div id="content" style="height: auto">
                    <div id="tab2">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 ">
                                <a href="#" class="thumbnail text-center">
                                    <img  src="https://dhis.moh.go.tz/api/charts/ROZ1iYE94i0/data">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="#" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/IpjzTgzzWfC/data">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <a href="#" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/CbiSNj9xTuH/data">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="#" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/F4ESXZnRyjL/data">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="tab1">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 ">
                                <a href="#" class="thumbnail text-center">
                                    <img  src="https://dhis.moh.go.tz/api/charts/urre7zcDO1F/data">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="#" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/maps/XoOgpa9nhzu/data">
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">
                                <a href="#" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/maps/Jo1zAOBKAcF/data">
                                </a>
                            </div>
                            <div class="col-xs-6 col-md-6">
                                <a href="#" class="thumbnail">
                                    <img  src="https://dhis.moh.go.tz/api/charts/EImARd6abMe/data">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="tab3">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-6 col-md-6 ">
                                    <a href="#" class="thumbnail text-center">
                                        <img  src="https://dhis.moh.go.tz/api/charts/ePebBxxzrIZ/data">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <a href="#" class="thumbnail">
                                        <img  src="https://dhis.moh.go.tz/api/charts/W6NFpCh3uxJ/data">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <a href="#" class="thumbnail">
                                        <img  src="https://dhis.moh.go.tz/api/charts/DGdrnNqRveW/data?width=1600&height=700">
                                    </a>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <a href="#" class="thumbnail">
                                        <img  src="https://dhis.moh.go.tz/api/charts/ISz3AtZkQrB/data">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <a href="#" class="thumbnail">
                                        <img  src="https://dhis.moh.go.tz/api/charts/IhGOyX13Tlj/data">
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-md-6">
                                    <a href="#" class="thumbnail">
                                        <img  src="https://dhis.moh.go.tz/api/charts/Ev1uEbB2kYf/data">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <a href="#" class="thumbnail">
                                        <img  src="https://dhis.moh.go.tz/api/charts/ARIM0m2N68Z/data">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab4" ng-include="'fragments/healthprofiles.html'">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <h1>Resources</h1>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="image/file.jpg" alt="..." style="height: 40px;width: 40px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">DHIS2 end user manual</h4>
                    <p></p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="image/file.jpg" alt="..." style="height: 40px;width: 40px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Census General Report 2012</h4>
                    <p></p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="image/file.jpg" alt="..." style="height: 40px;width: 40px">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Vitabu Vya MTUHA</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <h1>DATA SOURCES</h1>
            <div class="caption">
                <h3>DHIS2 POWERED - National data warehouse</h3>

                <p>All information is derived from DHIS2 Powered HMIS National Data warehouse currently integrated with RCHS, NMCP, NACP, HRH, CCHP and NTLP used to collect aggregate health data throughout all councils countrywide via HMIS and Vertical program's summary forms. </p>
                <h3>ACCESS HMIS National Datawarehouse</h3>
                <p>For full fledged access to HMIS National data warehouse please visit <a href="https://dhis.moh.go.tz/">http://dhis.moh.go.tz/</a> or contact HMIS Unit for more information. </p>
            </div>
        </div>
    </div>
</div>
