<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=dmxEsoJgCsl"target="_blank"><img src="https://dhis.moh.go.tz/api/maps/dmxEsoJgCsl/data">
</a>
            <div class="caption">
                <h3>Delivery By skilled Labour</h3>

                <p>Delivery By skilled Labour Region wise 2014</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=clDRdnD9ot1"target="_blank"><img src="https://dhis.moh.go.tz/api/maps/clDRdnD9ot1/data">
            </a>
            <div class="caption">
                <h3>Delivery at Health Facility</h3>

                <p>Trend of all Deliveries occuring at health facilities for all regions countrywide</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=zibXmJjnBQW"target="_blank"><img src="http://dhis.moh.go.tz/api/charts/zibXmJjnBQW/data">
</a>
            <div class="caption">
                <h3>Home Delivery  Rate</h3>

                <p>Home Delivery Rate Region wise 2014</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=Tg46eXbFLQe"target="_blank"><img src="http://dhis.moh.go.tz/api/charts/Tg46eXbFLQe/data">
</a>
            <div class="caption">
                <h3>Home Delivery  Rate </h3>

                <p>Home Delivery Rate Trend From 2010 to 2014</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=oYFSxJ4Kbsb"target="_blank"><img src="http://dhis.moh.go.tz/api/charts/oYFSxJ4Kbsb/data">
</a>
            <div class="caption">
                <h3>Delivery By Skilled Attendant  </h3>

                <p>Delivery By Skilled Attendant for last four quarters</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=UOSaCmRRCDZ"target="_blank"><img src="http://dhis.moh.go.tz/api/charts/UOSaCmRRCDZ/data">
</a>
            <div class="caption">
                <h3>Trend of Delivery By Skilled Attendant 2010 - 2014 </h3>

                <p>Delivery By Skilled Attendant </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=SkL22rEuRBs"target="_blank">
                <img src="http://dhis.moh.go.tz/api/charts/SkL22rEuRBs/data" style="width: 70%;height: 500px">
</a>
            <div class="caption">
                <h3>Delivery By Skilled Attendant </h3>

                <p>Delivery By Skilled Attendant Region wise for last four quarters</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=SV4gzA3n5zK"target="_blank"><img src="http://dhis.moh.go.tz/api/charts/SV4gzA3n5zK/data">
</a>
            <div class="caption">
                <h3>Normal Delivery Rate</h3>

                <p>.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=clDRdnD9ot1"target="_blank"><img src="https://dhis.moh.go.tz/api/maps/clDRdnD9ot1/data">
</a>
            <div class="caption">
                <h3>Delivery at Health Facility</h3>

                <p>Trend of all Deliveries occuring at health facilities for all regions countrywide</p>
            </div>
        </div>
    </div>
</div>
