
<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css" />
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(document).ready(function() {
            $('#healthprofiles').dataTable( {
                "ajax": 'fragments/districts.txt'
            } );
        } );
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <table id="healthprofiles" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Region</th>
                    <th>District</th>
                    <th>Download</th>
                </tr>
                </thead>

                <tfoot>
                <tr>
                    <th>Region</th>
                    <th>District</th>
                    <th>Download</th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>