<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=I8KSI8fHCiy"target="_blank"><img src="https://dhis.moh.go.tz/api/charts/I8KSI8fHCiy/data?width=1600&height=700">

            <div class="caption">
                <h3>ANC HIV PREVALENCE FOR FIRST AND SECOND VISIT</h3>

                <p>Prevalence of HIV for Antenatal Clients during first and second visits for last year</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=vU6SVfZ0aGV"target="_blank"><img src="https://dhis.moh.go.tz/api/charts/vU6SVfZ0aGV/data">

            <div class="caption">
                <h3>DELIVERY WITH HIV+ STAGE III OR IV</h3>

                <p>Trend of Complications during delivery due to HIV+ status in stage III or IV in the Last Four Quarters</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=jfEtkxaPWNy"target="_blank"><img src="https://dhis.moh.go.tz/api/charts/jfEtkxaPWNy/data">

                <div class="caption">
                    <h3>ANC CLIENTS FOUND HIV+ IN 1ST AND 2ND TEST</h3>

                    <p>Trend of clients Attending Antenatal Care Visits Found HIV+ in 1st and 2nd Test</p>
                </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=ZPKVbXFOuOV"target="_blank"><img src="https://dhis.moh.go.tz/api/maps/ZPKVbXFOuOV/data">

                <div class="caption">
                    <h3>DELIVERY WITH HIV+ STAGE III OR IV</h3>

                    <p>Trend of Complications during delivery due to HIV+ status in stage III or IV for the Last year regionwise for the entire country</p>
                </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=IhFCz6fPDWn"target="_blank"><img src="https://dhis.moh.go.tz/api/charts/IhFCz6fPDWn/data">

                <div class="caption">
                    <h3>RATE OF ANC HIV+ CLIENTS GIVEN ARV AND ART</h3>

                    <p>Rate of Antenatal Care clients HIV+ attending PMTCT receiving ARV and ART </p>
                </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=aNmJ3pVXa74"target="_blank"><img src="https://dhis.moh.go.tz/api/maps/aNmJ3pVXa74/data">

                <div class="caption">
                    <h3>ANC HIV PREVALENCE FIRST VISIT</h3>

                    <p>Prevalence of HIV for ANC clients During first Visit regionwise for the past year </p>
                </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="https://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=PZH3mURyyw0"target="_blank"><img src="https://dhis.moh.go.tz/api/maps/PZH3mURyyw0/data">

                <div class="caption">
                    <h3>ANC HIV PREVALENCE SECOND VISIT</h3>

                    <p>Prevalence of HIV for ANC clients During second Visit regionwise for the past year </p>
                </div>
        </div>
    </div>
    
</div>