<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <a href="http://hmis.eac.int/dhis-web-visualizer/app/index.html?id=w8Fjhhbb0kR"target="_blank"><img src="http://hmis.eac.int/api/charts/w8Fjhhbb0kR/data?width=1600&height=700">

            <div class="caption">
                <h3>Immunisation Cycle Chart</h3>

                <p>Interpretation Text</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-6">
        <div class="thumbnail">
            <a href="http://hmis.eac.int/dhis-web-mapping/app/index.html?id=PGl99H8QPpc"target="_blank"><img src="http://hmis.eac.int/api/maps/PGl99H8QPpc/data">

            <div class="caption">
                <h3>DPT 3 Dropout rate</h3>

                <p>Interpretation Text</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://hmis.eac.int/dhis-web-mapping/app/index.html?id=PGl99H8QPpc"target="_blank"><img src="http://hmis.eac.int/api/maps/PGl99H8QPpc/data">

            <div class="caption">
                <h3>DPT 3 Dropout rate</h3>

                <p>Interpretation Text</p>
            </div>
        </div>
    </div>
    
    </div>