<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=Cnyiy3p9jov"target="_blank"><img src="http://dhis.moh.go.tz/api/charts/Cnyiy3p9jov/data?width=1600&height=700">
</a>
            <div class="caption">
                <h3>Immunisation Cycle Chart</h3>

                <p>Interpretation Text</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=t8qKSIjuUWe"target="_blank">
                <img src="http://dhis.moh.go.tz/api/charts/t8qKSIjuUWe/data">
</a>
            <div class="caption">
                <h3>IPT 1 & IPT 2 Coverage</h3>

                <p>IPT 1 & IPT 2 Coverage for last four quarters</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=LZb14Lpyjb6"target="_blank">
                <img src="http://dhis.moh.go.tz/api/charts/LZb14Lpyjb6/data">
            </a>
            <div class="caption">
                <h3>Penta 3 Coverage </h3>

                <p>Interpretation Text</p>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=y4TLRnu6xXe"target="_blank"><img src="http://dhis.moh.go.tz/api/charts/y4TLRnu6xXe/data?width=1600&height=700">
            </a>
            <div class="caption">
                <h3>IPT 1 & IPT 2 Coverage Region wise</h3>

                <p>IPT 1 & IPT 2 Coverage Region wise for year 2014</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=L2He0vrBR5s"target="_blank">
                <img src="http://dhis.moh.go.tz/api/maps/L2He0vrBR5s/data">
            </a>
            <div class="caption">
                <h3>BCG Vaccination Distribution </h3>

                <p>BCG Vaccination Distribution  for year 2014</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=WApm8ZSLsvn"target="_blank">
                <img src="http://dhis.moh.go.tz/api/maps/WApm8ZSLsvn/data">
            </a>
            <div class="caption">
                <h3>OPV 3 Vaccination Distribution </h3>

                <p>OPV 3 Vaccination Distribution  for year 2014</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=ZanCqAIxxnj"target="_blank">
                <img src="http://dhis.moh.go.tz/api/charts/ZanCqAIxxnj/data">
            </a>
            <div class="caption">
                <h3>Measles Vaccination Coverage </h3>

                <p>Measles Vaccination Coverage  for year 2014</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-visualizer/app/index.html?id=cdhCjpMscSv"target="_blank">
                <img src="http://dhis.moh.go.tz/api/charts/cdhCjpMscSv/data">
            </a>
            <div class="caption">
                <h3>Vitamin A Vaccination Coverage </h3>

                <p>Vitamin A Vaccination Coverage  for year 2014</p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=VoHpzaEPYLF"target="_blank">
                <img src="http://dhis.moh.go.tz/api/maps/VoHpzaEPYLF/data">
            </a>
            <div class="caption">
                <h3>Penta 3 Vaccination Distribution </h3>

                <p>Penta 3 Vaccination Distribution  for current Year</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://dhis.moh.go.tz/dhis-web-mapping/app/index.html?id=ARiwNomee91"target="_blank">
                <img src="http://dhis.moh.go.tz/api/maps/ARiwNomee91/data">
            </a>
            <div class="caption">
                <h3>Vitamin A Vaccination Distribution </h3>

                <p>Vitamin A Vaccination Distribution  for this year</p>
            </div>
        </div>
    </div>
</div>