<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
         <img src="image/SC.png">
            <div class="caption">
                <h3>EAC RMNCH scorecard</h3>

                <p>This is a scorecard reflecting national indicator with color indicating status of country indicator and the arrow indicates the improvement towards the status. For example country can be in red but steadily improving this is show with up arrow</p>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="image/DWM.png">

            <div class="caption">
                <h3>EAC Data Warehouse modle</h3>

                <p>Data from individual instance of DHIS2 is imported into EAC DHIS2 database. This process is carried out autmatically. Each Country will approve the data in EAC Database before it is publised in web portal.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="image/HMN.png">

            <div class="caption">
                <h3>HMN architecture - National data warehouse</h3>

                <p>This is example of HMN architecture on national data warehouse, where data from different source can be combined in a integrated data repository. This data then can be analyzed and presented to multiple stakeholder using different tools such as chart, maps, tables. </p>
            </div>
        </div>
    </div>
</div>
