<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://hmis.eac.int/dhis-web-mapping/app/index.html?id=tQH1dBXeuKP"target="_blank"><img src="http://hmis.eac.int/api/maps/tQH1dBXeuKP/data">

            <div class="caption">
                <h3>ANC 4 to 1 visit dropout rate</h3>

                <p>Interpretation Text</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <a href="http://hmis.eac.int/dhis-web-mapping/app/index.html?id=VwWZrhgRQul"target="_blank"><img src="http://hmis.eac.int/api/maps/VwWZrhgRQul/data">

            <div class="caption">
                <h3>ANC Tetanus Rate</h3>

                <p>Interpretation Text</p>
            </div>
        </div>
    </div>
</div>
